*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #263D51;
    border-bottom: 5px solid #FFD600;
}
body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://cdn.discordapp.com/attachments/852732538145472533/872194038957219860/wallpaperflare.com_wallpaper.jpg");
}
.formulario{
    background-color: rgba(255, 214, 0,1);
    padding: 5%;
    color: white;
    border-radius: 20px;
}
footer{
    background-color: #263D51;
}
h1{
    color: black;
    text-align: center;
}