*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #263D51;
    border-bottom: 5px solid #FFD600;
}

.link-light:hover{
    font-size: 120%;
    color: #263D51;
    text-decoration: none;
    padding: 0 1%;
    background-color:#DDDDDD;
    border:2px solid grey;
}